/*-------font style-----------*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
 }

 .section-1 {
     background-color: rgb(243, 250, 184);
 }

.text-yellow  {
    color: rgb(196, 196, 40);
}

.btn {
    background-color: rgb(196, 196, 40) ;
}

.section-2 {
    background-color: rgb(247, 214, 237);
}
